.layout_container {
    display: flex;
    height: 100vh;  
}

.content_container {
    flex: 1;  
    padding: 20px;
    overflow-y: hidden;  
}

.outlet_container {
    height: calc(100vh - 60px);  
    overflow-y: auto; 
}
