


.layoutContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  
  .contentContainer {
    margin-top: 60px; 
    padding: 20px;
    width: 100%;
    height: calc(100vh - 60px); 
    overflow-y: auto; 
  }
  
 
  .sidebar {
    margin-top: 55px !important; 
    height: calc(100vh - 55px);
    overflow-y: auto;
  }
  