.custom-badge {
    background-color: #5bc0de !important;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    width: 90%;
  }
  
  @media (max-width: 768px) {
    .custom-badge{
      width: 100%;
    }
  }
  